astroid==1.6.5
backports.functools-lru-cache==1.5
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
Django==1.11.15
django-braces==1.13.0
django-model-utils==3.1.2
django-star-ratings==0.7.0
enum34==1.1.6
futures==3.2.0
google-api-core==1.4.1
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-vision==0.34.0
googleapis-common-protos==1.5.3
grpcio==1.15.0
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
numpy==1.15.2
olefile==0.46
Pillow==5.2.0
protobuf==3.6.1
psycopg2-binary==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pylint==1.9.3
pyparsing==2.2.2
PyPDF2==1.26.0
python-dateutil==2.7.3
pytz==2018.5
reportlab==3.5.9
requests==2.19.1
rsa==4.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.3
swapper==1.1.0
uritemplate==3.0.0
urllib3==1.23
webencodings==0.5.1
wrapt==1.10.11
xhtml2pdf==0.2.3
