footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

main{
    margin: 0 10em;
}

#container{
    column-count: 4;
    padding: 1em 0;
}

#prof_pic{
    width: 100px;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information{
    padding: 2em;
}

.pict{
    padding: 2em 0;
}

#cd{
    margin-bottom: 1.5em ;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.form{
    margin: 12em;
}

#thumbnail{
    width: 100%;
}

.single-view{
    margin: 2em;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.description{
    margin: 1em;
}

#thumb{
    width:100px;
    text-align: center;
}