footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

main{
    margin: 5em 10em;
}  

#container{
    column-count: 4;
    column-gap:  2em;
    padding: 2em 0;
}

.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin-bottom: 2em;
}

.banner div img {
    width: 15em;
    height: auto;
}

.banner{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner div{
    margin: 1em;
}

#prof_pic{
    width: 130px;
    border-radius: 10em;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information{
    padding: 2em;
}

.pict{
    padding: 2em 0;
}

#cd{
    margin-bottom: 2em ;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.form{
    display: flex;
    margin-top: 5em;
    margin-bottom: 10em;
}

#thumbnail{
    width: 100%;
}

.single-view{
    margin: 2em;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 3em;
}

.description{
    margin: 1em;
}

#thumb{
    width:100px;
    text-align: center;
}

#product-img{
    width: 50%;
    height: auto;
}

#empty-view{
    text-align:center;
}

#empty-logo{
    width: 20em;
    margin: 2em;
}

.spacing{
    margin-bottom: 1em;
}

#space{
    display: flex;
    justify-content: space-between;
}

.alignment{
    display:flex;
    flex-direction: row;
    margin: 1em;
}


#image{
    width: 200px;
}

.image-text{
    margin:1em;
}

.invoice-container{
    margin: 0 10em;
}
/* --------------------- */

.cont {
    width: 600px;
    font: 14px/21px "Open Sans", Arial, sans-serif;
    color: #666;
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 5px;
    
}

.hide {
display: none;
}

dt {
font-size: 19px;
margin-bottom: 20px;
margin-left: 26px;
cursor: pointer;
}

/* Triangle list item */
dt:before {
    content: "";
    border-color: transparent #ccc;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    display: block;
    height: 0;
    width: 0;
    left: -16px;
    top: 17px;
    position: relative;
}

dd {
    padding: 20px;
    background: #FDFCFA;
    border-radius: 5px;
    border: 1px solid #F2EEE6;
    margin: 20px 0 30px;
    position: relative;
}

/* Triangle in definition container */
dd:after, dd:before {
    bottom: 100%;
    left: 6%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

dd:after {
    border-color: rgba(136, 183, 213, 0);
    border-color: transparent;
    border-bottom-color: #FDFCFA;
    border-width: 15px;
    margin-left: -15px;
}

dd:before {
    border-color: rgba(194, 225, 245, 0);
    border-color: transparent;
    border-bottom-color: #F2EEE6;
    border-width: 17px;
    margin-left: -17px;
}

#title{
    text-align:center;
}

.solid{
    border: 2px solid black;
}

.ground{
    background-color: #FFF8DC;
    border-radius: 2em;
    padding: 3em;
    margin-right: 2em;
}

.fields{
    text-decoration: underline;
}

#flex-on-my-ex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    column-count: 5;
}

#review_pic{
    width: 80px;
    height:auto;
    border-radius: 200%;
}

@media screen 
    and (min-width : 375px) 
    and (max-width : 1400px)
    and (orientation : landscape){ 
        #container{
            column-count: 3;
        }
        main{
            margin: 4em 5em;
        }  
    }

@media screen 
    and (min-width : 375px)
    and (max-width : 1400px)
    and (orientation : portrait){ 
        #container{
            column-count: 2;
        }
        main{
            margin: 4em 5em;
        }
    }
