{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}

<article class="wrapper">
        <h2 style="text-align: center">Wai Ka Wong</h2>
        <!-- <img style="margin: 0 auto" src="{%static 'images/image-about.png'%}" alt=""> -->
        <p style="text-align: center"><strong>Full Stack Web Developer</strong></p>
        <div class="resume" style="margin: 0 10em">
            <img src="{% static 'images/image-about.png' %}" class="img-thumbnail rounded mx-auto d-block">
            <p id="personal">
                <p><strong><h4><i class="fas fa-id-card"></i> Summary</h4></strong></p>
                Calm, but confident in my abilities; multitasker and adaptable by nature, 
                able to blend into new changing and demanding work environments. I am aware 
                of all my limitations and I always try to approach new challenges step by step. 
                All of my qualities allow me to thrive and succeed in the workplace.
            </p>
            <p id="laptop"></p>
                <p><strong><h4><i class="fas fa-futbol"></i> Hobbies</h4></strong></p>
                I am a physics graduate, programming passionate, e-sports follower, 
                taekwondo practitioner, and a never-ending traveler who is always 
                excited to find new adventures, explore new places and learn about
                new cultures.
            </p>
            <p id="education">
                <p><strong><h4><i class="fas fa-university"></i> Education</h4></strong></p>
                <ul>
                    <li>General Assembly (2018)</li>
                    <li>Kansas State University (2014-2017)</li>
                    <li>Pontificia Universidad Catolica del Peru (2013-2014)</li>
                </ul>
            </p>
            <div id="information" style="text-align:center">
                <h2>Contact me</h2>
                <p><i class="fa fa-envelope-open" aria-hidden="true"></i> wongsitu@ksu.edu</p>
                <p><i class="fa fa-phone-square" aria-hidden="true"></i> (415) 699-4491</p>
                <p><a href="https://github.com/wongsitu"><i class="fab fa-github" aria-hidden="true"></i> www.github.com/wongsitu</a></p>
                <p><a href="https://www.linkedin.com/in/waika-wong/"><i class="fab fa-linkedin"></i> www.linkedin.com</a></p>
            </div>
        </div>
    </article>
{% endblock %}