{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'app/map.js' %}" defer></script>

<h3 class="text-center">{{food}}</h3>
<div class="featured-alignment" style="align-content: center; justify-content: center;margin: auto;">
    <div class="map-cont">
        <img src="{% static 'images/loading.gif' %}" />
        <div id="map">
            <!-- Map goes here -->
        </div>
    </div>
    <div>
        <div class="card" id="options">
            <ul class="list-group list-group-flush" style="overflow:auto">
                {% for restaurant in response.json.businesses %}
                    <li class="list-group-item">
                        <div id="space">
                            <div>
                                <h6>{{restaurant.name}}</h6>
                                <p>{{restaurant.location.display_address|join:" "}}</p>
                                <p>{{restaurant.display_phone}}</p>
                                <p><a href="{{restaurant.url}}">Visit page</a> || <a href="#" class="coordinates" value="{{restaurant.url}}" lat="{{restaurant.coordinates.latitude}}" lng="{{restaurant.coordinates.longitude}}">Locate</a></p>
                            </div>
                            <img src="{{restaurant.image_url}}" style="width:150px; height:120px">
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
