{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="featured-alignment">
    <div id="map">
        <!-- Map goes here -->
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush" style="overflow:auto">
                {% for restaurant in response.json.businesses %}
                    <li class="list-group-item">{{restaurant.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
