{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}
<h3 class="text-center">Food options around San Francisco</h3>
<div class="d-flex justify-content-center">
    <div class="alignment">
        <a href="{% url 'coupon_bank_eats_type' food='pizza' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/pizza.png'%}">
                <h5 class="card-title">Pizza</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='chinese' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/chinese.png'%}">
                <h5 class="card-title">Chinese Food</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='breakfast_brunch' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/breakfast.png'%}">
                <h5 class="card-title">Breakfast</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='hotdogs' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/fast_food.png'%}">
                <h5 class="card-title">Fast Food</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='mexican' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/mexican.png'%}">
                <h5 class="card-title">Mexican Food</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='salad' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/salad.png'%}">
                <h5 class="card-title">Salad</h5>
            </div>
        </a>
    </div>
</div>
<div class="d-flex justify-content-center spacing">
    <div class="alignment">
        <a href="{% url 'coupon_bank_eats_type' food='sushi' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/sushi.png'%}">
                <h5 class="card-title">Sushi</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='indpak' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/indian.png'%}">
                <h5 class="card-title">Indian Food</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='italian' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/italian.png'%}">
                <h5 class="card-title">Italian Food</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='bbq' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/bbq.png'%}">
                <h5 class="card-title">BBQ</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='vegetarian' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/vegetarian.png'%}">
                <h5 class="card-title">Vegetarian</h5>
            </div>
        </a>
        <a href="{% url 'coupon_bank_eats_type' food='burgers' %}" class="card border-warning mb-3" style="min-width: 10em; margin:0.5em;">
            <div class="card-body text-warning text-center">
                <img class="icons" src="{% static 'images/burger.png'%}">
                <h5 class="card-title">Burgers</h5>
            </div>
        </a>
    </div>
</div>
<h3 class="text-center">Fine dining</h3>
<div class="d-flex spacing">
    {% for restaurant in fine_dining.json.businesses %}
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" id="imgcard" src="{{restaurant.image_url}}">
                <div class="card-body">
                    <h4 class="card-title">{{restaurant.name}}</h4>
                    <p>Price Range: {{restaurant.price}}</p>
                    <p class="card-text">Address: {{restaurant.location.display_address|join:" "}}</p>
                    <p class="card-text">Phone: {{restaurant.display_phone}}</p>
                    <a class="btn btn-warning">View more</a>
                </div>
            </div>
        </div>
    {% endfor%}
</div>
<h3 class="text-center">Cheap alternatives</h3>
<div class="d-flex spacing">
    {% for rest in cheap_alt.json.businesses %}
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" id="imgcard" src="{{rest.image_url}}">
                <div class="card-body">
                    <h4 class="card-title">{{rest.name}}</h4>
                    <p>Price Range: {{rest.price}}</p>
                    <p class="card-text">{{rest.location.display_address|join:" "}}</p>
                    <p class="card-text">Phone: {{rest.display_phone}}</p>
                    <a class="btn btn-warning">View more</a>
                </div>
            </div>
        </div>
    {% endfor%}
</div>
<h3 class="text-center">Bussiness lunch</h3>
<div class="d-flex spacing">
    {% for rest in business.json.businesses %}
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" id="imgcard" src="{{rest.image_url}}">
                <div class="card-body">
                    <h4 class="card-title">{{rest.name}}</h4>
                    <p>Price Range: {{rest.price}}</p>
                    <p class="card-text">{{rest.location.display_address|join:" "}}</p>
                    <p class="card-text">Phone: {{rest.display_phone}}</p>
                    <a class="btn btn-warning">View more</a>
                </div>
            </div>
        </div>
    {% endfor%}
</div>

{% endblock %}