{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}
<!-- <script src="{% static 'scripts/scripts.js' %}"></script> -->
<h2 class="text-center description">Frequently Asked Questions</h2>
<div class="cont">
    <dl>
        <dt>What is Coupon Bank?</dt>
            <dd>
                <p>
                    Coupon Bank is a peer-to-peer lending application that allows users to buy and sell coupons. The motivation of this project 
                    was to create an exchange platform that would allow users to trade 'long tail' coupons.
                </p>
                <p>
                    The design and functionality was heavily inspired by Amazon. It includes features such as the usage of Google Cloud Visual 
                    Recognition API which extracts all the information from posted coupons via Machine Learning. Additionally, it handles all 
                    transactions using Stripe API and will generate revenue by taking a small percentage of the total price. If any user decides 
                    to sell a new product(s), they can post it and AWS storage will handle all uploaded images. Finally, a user authentication was 
                    implemented to handle all accounts as well as a profile page for our customers to manage all their orders and personal information
                </p>
            </dd>
        <dt>What is our vision?</dt>
            <dd>
                <p>
                    Coupon Bank aim to provide a top quality coupon trading service while keeping it casual to our users.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae rerum molestiae laboriosam nobis odit.</p>
            </dd>
        <dt>What is our mission?</dt>
            <dd>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam incidunt itaque mollitia eligendi, doloribus commodi a culpa ratione aspernatur!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae rerum molestiae laboriosam nobis odit.</p>
            </dd>
        <dt>What is your refund policy?</dt>
            <dd>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam incidunt itaque mollitia eligendi, doloribus commodi a culpa ratione aspernatur!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae rerum molestiae laboriosam nobis odit.</p>
            </dd>
        <dt>My order has been lost, What do I do?</dt>
            <dd>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam incidunt itaque mollitia eligendi, doloribus commodi a culpa ratione aspernatur!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae rerum molestiae laboriosam nobis odit.</p>
            </dd>
    </dl>
</div>
{% endblock %}