{% extends 'couponBank/base.html' %}
{% block content %}

<div class="coupon">
    <h2 class="display-4 text-center">Deal of the day</h2>
    <div class="banner">
        <div>
            <img class="dayDeal" src="{{ deal.picture.url }}">
        </div>
        <div>
            <h3>{{ deal.brand }} Coupon</h3>
            <h6><strong>Posted by:</strong> {{deal.user}} </h6>
            <p>{{ deal.description|truncatechars:700}}</p>
            <div class="banner">
                <h3 class="text-success">Price: $ {{ deal.price }}</h3>
                <a href="{% url 'product_detail' pk=deal.id %}" class="btn btn-warning">Save Now!</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <h5 class="card-header bg-warning text-center text-white">Featured Deals</h5>
            <div class="card-body">
                <h5 class="card-title">Under Construction</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button href="#" class="btn btn-primary">Go somewhere</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header bg-warning text-center text-white">Top deals for you</h5>
            <div class="card-body">
                <h5 class="card-title">Under Construction</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}