{% extends "couponBank/base.html" %}

{% block content %}
<h1>This is home page</h1>
<ul class="pagination justify-content-center">
    {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
    {% endif%}
    {% for num in products.paginator.page_range%}
        {% if product.number == num %}
        <li class="page-item actice">
            <a class="page-link">
                
                    {{num}}
                
            </a>
        </li>
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
        <li class="page-item">
            <a class="page-link">
                {{num}}
            </a>
        </li>
        {% endif%}
    {% endfor %}
    {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    {% endif%}
</ul>
<div id="container">
    {% for product in products %}
        <div class="card" style="width: 18rem;" id="cd">
            <img class="card-img-top" src="{{product.picture.url}}">
            <div class="card-body">
                <h5 class="card-title">{{product}}, ${{product.price}}</h5>
                <p>Posted by: {{product.user}}<p>
                <p class="card-text">{{product.description|truncatechars:200}}</p>
                <a href="{% url 'product_detail' pk=product.id %}" class="btn btn-primary">Details...</a>
            </div>
        </div>
    {% endfor %}
</div>
<ul class="pagination justify-content-center">
    {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
    {% endif%}
    {% for num in products.paginator.page_range%}
        {% if product.number == num %}
        <li class="page-item">
            <a class="page-link">
                <span class="sr-only">
                    {{num}}
                </span>
            </a>
        </li>
        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
        <li class="page-item">
            <a class="page-link">
                {{num}}
            </a>
        </li>
        {% endif%}
    {% endfor %}
    {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    {% endif%}
</ul>
{% endblock %}