{% extends 'couponBank/base.html' %}

{% block content %}
<div class="single-view">
    <div>
        <img id="thumbnail" src="{{product.picture.url}}">
    </div>
    <div class="description">
        <h1>{{product.brand}} Coupon</h1>
        <p>Posted by: {{product.user}} at {{product.posted_at}}</p>
        <p>{{product.description}}</p>
        <p>Price: ${{product.price}}</p>
        <a href="{% url 'add_to_cart' pk=product.id %}" class="btn btn-primary">Add to Shopping Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
<div>
{% endblock %}