{% extends "couponBank/base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>My profile page</h1>
    <div id="info">
        <div class="pict">
            <h5 style="text-align:center">{{user_profile.user.username}}</h5>
            {% if user_profile.profile_pic %}
                <img id="prof_pic" src="{{ user_profile.profile_pic.url }}" alt="">  
            {% else %}
                <img id="prof_pic" src="{%static 'images/not_available.png'%}" alt="">
            {% endif %}
        </div>
        <div class="information">
            <p><strong>Email:</strong> {{user_profile.user.email}}</p>
            <p><strong>Phone:</strong> {{user_profile.phone}}</p>
            <p><strong>Billing address:</strong> {{user_profile.address}}</p>
            <p><strong>Zip Code:</strong> {{user_profile.zipcode}}</p>
            <p><strong>Country:</strong> {{user_profile.country}}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
    
    <h2 class="subtitle">Recent Purchases</h2>
    {% for order in user_orders%}
        <div class="card text-center spacing">
            <div class="card-header" id="space">
                <p><strong>Order placed at:</strong> {{order.timestamp}}</p>
                <p><strong>Total:</strong> $ {{order.amount}}</p>
                <p><strong>Shipping to:</strong>
                    <a data-toggle="tooltip" data-placement="bottom" title="{{order.profile.address}}">
                        {{order.profile}}
                    </a>
                </p>
                <p><strong>Order #:</strong> {{order.token}}</p>
            </div>
            <div class="card-body" id="flex-on-my-ex">
                <div>
                    {% for product in order.orders.all %}
                    <div class="alignment">
                        <div>
                            <img src="{{product.products.picture.url}}" id="image">
                        </div>
                        <div class="image-text">
                            <p class="card-text">{{product}} ${{product.products.price}}</p>
                            <p class="card-text"> Sold by: {{product.products.user}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <a href="{% url 'detele_transaction' pk=order.id%}" class="btn btn-danger">Archieve <i class="fas fa-archive"></i></a>
                    <a href="{% url 'invoice' pk=order.id%}" class="btn btn-info">Invoice <i class="fas fa-file-invoice-dollar"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <h2 class="subtitle">Recent Offers</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Picture</th>
                <th scope="col">Brand</th>
                <th scope="col">price</th>
                <th scope="col">added at</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in user_offers%}
                <tr>
                    <th scope="row">{{offer.id}}</th>
                    <td><img id="thumb" src="{{offer.picture.url}}"></td>
                    <td>{{offer.brand}}</td>
                    <td>$ {{offer.price}}</td>
                    <td>{{offer.posted_at}}</td>
                    <td>
                        <a href="{% url 'delete_product' pk=offer.id %}" class="btn btn-danger">Remove <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <h2 class="subtitle">Pending Transactions</h2>
    <div class="column">
    {% for pending in pending_orders.all%}
        <div class="card border-primary mb-3" style="max-width: 20rem" id="cd">
            <div class="card-header"><h5>{{pending}}</h5></div>
            <div class="card-body text-primary">
                <h5 class="card-title">Buyer: {{pending.buyer}}</h5>
                <h5 class="card-title">price: $ {{pending.products.price}}</h5>
                <p class="card-text">Shipping Address:<br>
                    {{pending.buyer.profile.address}}<br>
                    {{pending.buyer.profile.zipcode}}, {{pending.buyer.profile.country}}</p>
            </div>
        </div>
    {% endfor%}
    </div>
{% endblock %}