{% extends "couponBank/base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>My profile page</h1>
    <div id="info">
        <div class="pict">
            <h5>{{user_profile.user.username}}</h5>
            {% if user_profile.profile_pic %}
                <img id="prof_pic" src="{{ user_profile.profile_pic.url }}" alt="">  
            {% else %}
                <img id="prof_pic" src="{%static 'images/not_available.png'%}" alt="">
            {% endif %}
        </div>
        <div class="information">
            <p>Email: {{user_profile.user.email}}</p>
            <p>Phone: {{user_profile.phone}}</p>
            <p>Billing address: {{user_profile.address}}</p>
            <p>Zip Code: {{user_profile.zipcode}}</p>
            <p>Country: {{user_profile.country}}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
    <hr>
    <h2>Recent Pursaches</h2>
    {% for order in user_orders%}
        <div class="card text-center spacing">
            <div class="card-header">
                <strong>Order code:</strong> {{order.token}}
            </div>
            <div class="card-body">
                {% for product in order.orders.all %}
                    <p class="card-text">{{product}} {{product.products.price}}</p>
                {% endfor %}
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                {{order.timestamp}}
            </div>
        </div>
    {% endfor %}
    <hr>
    <h2>Recent Offers</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Picture</th>
                <th scope="col">Brand</th>
                <th scope="col">price</th>
                <th scope="col">added at</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in user_offers%}
                <tr>
                    <th scope="row">{{offer.id}}</th>
                    <td><img id="thumb" src="{{offer.picture.url}}"></td>
                    <td>{{offer.brand}}</td>
                    <td>$ {{offer.price}}</td>
                    <td>{{offer.posted_at}}</td>
                    <td>
                        <a href="{% url 'delete_product' pk=offer.id %}" class="btn btn-danger">Remove <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <hr>
    <h2>Pending Transactions</h2>
{% endblock %}