{% extends "couponBank/base.html" %}

{% block content %}
    <h2>Found {{ searched_products|length }} result(s)</h2>
    <div id="container">
        {% for product in searched_products %}
            <div class="card" style="width: 18rem;" id="cd">
                <img class="card-img-top" src="{{product.picture.url}}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'product_detail' pk=product.id %}">{{product}}</a>, ${{product.price}}</h5>
                    <p>Posted by: {{product.user}}<p>
                    <p class="card-text">{{product.description|truncatechars:200}}</p>
                    <a href="{% url 'product_detail' pk=product.id %}" class="btn btn-primary">Details...</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}